/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS! */
/*You may need to research some other selectors and properties*/

/* Give the <body> element a background of #bdc3c7*/
body {
    background: #bdc3c7;
}

/* Make the <h1> element #9b59b6*/
h1 {
    color: #9b59b6;
}

/* Make all <h2> elements orange */
h2 {
    color: orange;
}

/* Make all <li> elements blue(pick your own hexadecimal blue)*/ 
li {
    color: #1298af;
}

/*Change the background on every paragraph to be purple*/
p {
    background: purple;
}

/* Give everything with the class 'hello' a white background*/
.hello {
    background: white;
}

/* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)*/
#special {
    border: 24px solid blue;
}

/*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/
div p {
    font-size: 25px;
}

/*BONUS CHALLENGES*/
/* Make the <h*> elements all UPPERCASE without changing the HTML(definitely look this one up)*/
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}


