<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= name %></p>

    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="email" name="login[email]" id="">
        <input type="password" name="login[password]" id="">
        <input type="submit" value="Click me!">
    </form>
    
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <input type="email" name="signup[email]" id="">
        <input type="password" name="signup[password]" id="">
        <input type="submit" value="Click me!">
    </form>
</body>
</html>